 body {
    background: rgb(60, 86, 173);
    color: rgb(64, 15, 208);
    padding: 20px;
    font-family: arial;
}
#all-contents {
  max-width: 700px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(239, 80, 41);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius : 30px
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #ffd4d4;
}

/* main container area beneath menu */
main {
    background: rgb(233, 192, 79);
    display: flexbox;
}
.sidebar {
    margin-right: 10px;
    padding: 10px;
}



 
.sidebar-img {
    width: 200px;
   
}

#sidebar{

size: 20px;

}
.content {
    flex: 1;
    padding: 16px;
} 



         /* portfolio styles */
.content h1 {
color: rgb(0, 102, 255);
}

#portfolio {
list-style-type: 1;
padding-left: 10;
}

#portfolio li {
background: #7df2ff;
padding: 10px;
border-radius: 10px;
margin-bottom: 10px;
}

#portfolio li:hover {
background: #c1e6ff;
}

#portfolio a {
text-decoration: none;
color: #72bdff;
}

            /* responsive web design */
            @media screen and (min-width: 150px) and (max-width: 1080px) {
              main {
                height: 100ch;
                zoom: 1.5;
                display: grid;
              }

              h1 {
                font-size: 44px;
              }

              h2 {
                font-size: 42px;
              }

              h3 {
                font-size: 36px;
              }

              #all-contents {
                height: 200ch;
                margin: none;
              }

              a {
                font-size: 42px;
              }

              .sidebar {
                margin-right: 10
              px;
                justify-content: center;
                align-items: center;
              }

              .sidebar-img {
                width: 100%;
              }

              p,
              li {
                font-size: 30px;
              }

              .content {
                align-content: last baseline;
                justify-content: last baseline;
              }
          }








                 